<!DOCTYPE html>
<html>

<head>
    <title>UPI Admin</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14"></script>
</head>

<body>
    <div id="upi" style="background-color: burlywood; margin-left: 25%; width: 50%; padding: 15px; border-radius: 5px;">
        <h1 style="text-align: center;">UPI ADMIN</h1>
        <table style="width: 100%;">
            <tr>
                <th><input style="height: 55px; width: 96%; margin: 5px;" v-model="upi" type="text" placeholder="upi">
                </th>
            </tr>
            <tr>
                <th><input style="height: 55px; width: 96%; margin: 5px;" v-model="min" type="number"
                        placeholder="min value"></th>
            </tr>
            <tr>
                <th><input style="height: 55px; width: 96%; margin: 5px;" v-model="max" type="number"
                        placeholder="max value"></th>
            </tr>
            <tr>
                <th><button @click="upd"
                        style="margin: 15px; width: 80%; background-color: blue; color: antiquewhite; padding: 10px 25px; border-radius: 5px; border: none;">
                        <h2>Update</h2>
                    </button>
                </th>
            </tr>
        </table>
    </div>
    <script>
        new Vue({
            el: '#upi',
            data: {
                upi: '',
                min: 0,
                max: 0
            },
            mounted() {
                const requestOptions = {
                    method: 'GET',
                    redirect: 'follow'
                };

                fetch("https://upis.deta.dev/upi", requestOptions)
                    .then(response => response.text())
                    .then(result => {
                        const dt = JSON.parse(result);
                        this.upi = dt.upi,
                            this.max = parseInt(dt.max);
                        this.min = parseInt(dt.min)
                    })
                    .catch(error => console.log('error', error));
            },
            methods:{
                upd() {
                    var myHeaders = new Headers();
                    myHeaders.append("Content-Type", "application/json");

                    var raw = JSON.stringify({
                        "upi": this.upi,
                        "max": parseInt(this.max),
                        "min": parseInt(this.min),
                        "update_time":new Date()
                    });

                    var requestOptions = {
                        method: 'POST',
                        headers: myHeaders,
                        body: raw,
                        redirect: 'follow'
                    };

                    fetch("https://upis.deta.dev/upi", requestOptions)
                        .then(response => response.text())
                        .then(result => console.log(result))
                        .catch(error => console.log('error', error));
                }
            }
        })
    </script>
</body>

</html>